#AOD_L2A  processing

AOD_L2A_VERBOSE         = YES

AOD_L2A_EXPID           = nnr_001
AOD_L2A_IDENTS          = mydl,mydo,modl,modo
AOD_L2A_COLLECTION      = 051,051,051,051

AOD_L2A_L2_DIR          = /nobackup/MODIS/051/Level2
AOD_L2A_OUT_DIR         = /nobackup/NNR/051/Level%lev/%prod/Y%y4/M%m2

AOD_L2A_OVERWRITE       = YES
AOD_L2A_OUT_TEMPLATE    = '%s.%prod_L%leva.%algo.%y4%m2%d2_%h2%n2z.%ext'
AOD_L2A_RESOLUTION      = e

AOD_L2A_ALBEDO_FILE     = /nobackup/MODIS/Level3/ALBEDO/albedo_clim.ctl
AOD_L2A_WIND_FILE       = /nobackup/MERRA/opendap/slv_Nx.ctl

AOD_L2A_NN_FILE         = /nobackup/NNR/Net/nnr_001.%ident_Tau.net
AOD_L2A_BLANK_ODS       = /nobackup/NNR/Misc/blank.ods

#END AOD_L2A  processing
