bin_path: /home/dao_ops/jardizzo/FLUID/firex-aq/bin
config_path: /home/dao_ops/jardizzo/FLUID/firex-aq/share:/home/dao_ops/jardizzo/FLUID/firex-aq/share/themes:/home/dao_ops/jardizzo/FLUID/firex-aq/share/missions:/home/dao_ops/jardizzo/FLUID/firex-aq/share/special:/home/jardizzo/src/FLUID/wxmap/examples
shape_path: /discover/nobackup/jardizzo/maps
logo_path: /home/dao_ops/jardizzo/FLUID/firex-aq/share/files
map_path: /discover/nobackup/$USER/fluid/map
colorbar: /home/dao_ops/jardizzo/FLUID/firex-aq/utils/cbart.gs
font: /home/dao_ops/jardizzo/FLUID/firex-aq/share/files/helr45w.ttf
bfont: /home/dao_ops/jardizzo/FLUID/firex-aq/share/files/helr65w.ttf
mfont: /home/dao_ops/jardizzo/FLUID/firex-aq/share/files/VeraMono.ttf
toolkit: !!python/object/apply:toolkit.Toolkit []
config: [wxmap]

portal_dir: /discover/nobackup/projects/gmao/yotc/pub/fp/.internal
local_dir: /discover/nobackup/dao_ops/jardizzo/FLUID/wxmap

keymap:
  shape_path: /data/maps
  logo_path: /data/logos
  map_path: /data/maps
  colorbar: cbart.gs
  font: helr45w.ttf
  mfont: VeraMono.ttf
