# AERONET SIMULATION
    inDir        = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/AERONET/LevelB/Y%year/M%month
    inFile       = aeronet-g5nr.lb2.%col.%nymd_%hourz.nc4

    invDir       = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/AERONET/LevelB/invariant
    invFile      = aeronet-g5nr.lb2.%col.nc4

    outDir       = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/AERONET/LevelC/Y%year/M%month
    outFile      = aeronet-g5nr.lc2.ext.%nymd_%hourz_%chdnm.nc4

    channel      = 355   
    rcFile       = Aod_EOS.rc
    DO_VLIDORT   = NO
    DO_EXT       = YES
# AERONET SIMULATION