#
# Resource file for Trajectory Sampler. Aerosol/carbon parameters.
#

1) * : /home/adasilva/opendap/fp/opendap/fcast/inst1_2d_hwl_Nx/inst1_2d_hwl_Nx.DTG
2) * : /home/adasilva/opendap/fp/opendap/fcast/inst3_3d_aer_Np/inst3_3d_aer_Np.DTG
3) * : /home/adasilva/opendap/fp/opendap/fcast/inst3_3d_ext_Np/inst3_3d_ext_Np.DTG
4) * : /home/adasilva/opendap/fp/opendap/fcast/inst3_3d_chm_Np/inst3_3d_chm_Np.DTG
5) * : /home/adasilva/opendap/fp/opendap/fcast/inst3_3d_tag_Np/inst3_3d_tag_Np.DTG



