#
# Resource file for Trajectory Sampler. Meteorological parameters.
#

1) * : /home/adasilva/opendap/fp/opendap/fcast/tavg1_2d_slv_Nx/tavg1_2d_slv_Nx.DTG
2) * : /home/adasilva/opendap/fp/opendap/fcast/tavg1_2d_flx_Nx/tavg1_2d_flx_Nx.DTG
3) * : /home/adasilva/opendap/fp/opendap/fcast/tavg1_2d_rad_Nx/tavg1_2d_rad_Nx.DTG
4) * : /home/adasilva/opendap/fp/opendap/fcast/inst3_3d_asm_Np/inst3_3d_asm_Np.DTG




