# LIDAR SAMPLING
INSTNAME = pace_675
TLEFILE  = pace_675/pace_675.tle
RCFILES  = aer_Nv.rc, asm_Nx.rc
COLNAMES = aer_Nv, asm_Nx
OUTDIR   = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/POLAR_LIDAR/PACE_675/LevelB
# LIDAR SAMPLING
