#
# Resource file with variable list for GEOS-5 Collection <inst1_2d_hwl_Nx>.
#
# This RC file was automatically created on Mon Jul 18 10:28:10 EDT 2011 
# by script /discover/nobackup/projects/gmao/share/dasilva/bin/mk_coll_rc.csh
# based on GEOS-5 files found on
#    discover05:/portal/GMAO/yotc/e572_fp/das/Y2011/M07/D01
#
#------------------------------------------------------------------
__TITLE__: 2d,1-Hourly,Instantaneous,Single-Level,Analysis,Hyperwall
DUEXTTAU: Dust Extinction AOT [550 nm];  1
SSEXTTAU: Sea Salt Extinction AOT [550 nm];  1
SUEXTTAU: SO4 Extinction AOT [550 nm];  1
BCEXTTAU: Black Carbon Extinction AOT [550 nm];  1
OCEXTTAU: Organic Carbon Extinction AOT [550 nm] ENSEMBLE;  1
TOTEXTTAU: Total Aerosol Extinction AOT [550 nm];  1
