#
# Resource file for Trajectory Sampler. Aerosol/carbon parameters.
#

1) * : http://opendap.nccs.nasa.gov:80/dods/GEOS-5/fp/0.25_deg/assim/inst3_3d_aer_Nv
2) * : http://opendap.nccs.nasa.gov:9090/dods/GEOS-5/fp/0.25_deg/assim/tavg3_2d_aer_Nx
3) * : http://opendap.nccs.nasa.gov:80/dods/GEOS-5/fp/0.25_deg/assim/tavg3_2d_adg_Nx
#
4) * : http://opendap.nccs.nasa.gov:80/dods/GEOS-5/fp/0.25_deg/assim/inst3_3d_chm_Nv
5) * : http://opendap.nccs.nasa.gov:80/dods/GEOS-5/fp/0.25_deg/assim/tavg3_2d_chm_Nx
