# MULTIANGLE POLARIMETER SIMULATION
    inDir        = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/POLAR_LIDAR/CALIPSO/LevelB/Y%year/M%month
    inFile       = calipso-g5nr.lb2.%col.%nymd_%hourz.nc4

    brdfDir    = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/POLAR_LIDAR/CALIPSO/LevelB/surface/BRDF/MCD43C1/006/Y%year/M%month
    brdfFile     = calipso-g5nr.lb2.brdf.%nymd_%hourz.nc4

    ndviDir      = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/POLAR_LIDAR/CALIPSO/LevelB/surface/BPDF/NDVI/MYD13C2/006/Y%year/M%month
    ndviFile     = calipso-g5nr.lb2.ndvi.%nymd_%hourz.nc4

    lcDir        = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/POLAR_LIDAR/CALIPSO/LevelB/surface/BPDF/LAND_COVER/MCD12C1/051/Y%year/M%month
    lcFile       = calipso-g5nr.lb2.land_cover.%nymd_%hourz.nc4    

    albedoType   = MODIS_BRDF

    outDir       = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/POLAR_LIDAR/CALIPSO/LevelC/Y%year/M%month
    outFile      = calipso-g5nr.vlidort.vector.MCD43C_noBPDF.%nymd_%hourz_%chdnm.nc4

    channel      = 1650    
    rcFile       = Aod_EOS.rc
    VZA          = 3.66, 11., 18.33, 25.66, 33, 40.33, 47.66, 55.0
    HGT          = 705
    DO_VLIDORT   = YES
    DO_EXT       = NO
# MULTIANGLE POLARIMETER SIMULATION
