DATE: 20060324
TIME: 005000
INSTNAME: pace
SCALAR: false
NODEMAX: None
ADDITIONAL_OUTPUT: true
VERSION: 1.0
LAYOUT: None

LANDNAME: MCD43C-BPDF    
LANDMODEL: RTLS
LANDBAND_C_BRDF: 470 550 650 850 1200 1600 2100


WATERNAME: NOBM-CX
WATERMODEL: CX

CHANNELS: 470
WATERMR: 1.33

ICLDTABLE:ExtDataCloud/IceLegendreCoeffs.nc4
LCLDTABLE:ExtDataCloud/WaterLegendreCoeffs.nc4

AER_file: /nobackup/PACE/LevelB/Y2006/M03/D24/pace-g5nr.lb.aer_Nv.20060324_005000.nc4
ANG_file: /nobackup/PACE/L1B/Y2020/M03/D24/OCI2020084005000.L1B_PACE.nc
INV_file: /nobackup/PACE/LevelB/Y2006/M03/D24/pace-g5nr.lb.asm_Nx.20060324_005000.nc4
BRDF_file: /nobackup/PACE/LevelB/surface/BRDF/MCD43C1/006/Y2006/M03/D24/pace-g5nr.lb.brdf.20060324_005000.nc4
OUT_file: /nobackup/PACE/LevelC/Y2006/M03/D24/pace-g5nr.vlidort.20060324_005000_470d00nm.nc4
ADD_file: /nobackup/PACE/LevelC/Y2006/M03/D24/pace-g5nr.vlidort.add.20060324_005000_470d00nm.nc4
CLD_file: /nobackup/PACE/LevelC/Y2006/M03/D24/pace-g5nr.TOTWPDF-GCOP-SKEWT.20060324_005000.nc4
MET_file: /nobackup/PACE/LevelB/Y2006/M03/D24/pace-g5nr.lb.met_Nv.20060324_005000.nc4
WAT_file: /nobackup/PACE/LevelB/surface/SLEAVE/NOBM/Y2006/M03/D24/pace-g5nr.lb.sleave.20060324_005000.nc4
NDVI_file: /nobackup/PACE/LevelB/Y2006/M03/D24/pace-g5nr.lb-nearest.myd13c2.20060324_005000.nc4
BPDF_file: /nobackup/PACE/LevelB/surface/BPDF/LAND_COVER/MCD12C1/051/Y2006/M03/D24/pace-g5nr.lb.land_cover.20060324_005000.nc4
