# BRDF SAMPLING
INSTNAME = pace
INDIR   = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/PACE/LevelB
OUTDIR    = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/PACE/LevelB/surface/BRDF/MCD43C1/006
DATADIR   = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/PACE/LevelA/MCD43C1/
# BRDF SAMPLING
