# WATER LEAVING RADIANCE SAMPLING
INSTNAME  = pace
INDIR     = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/PACE/LevelB
OUTDIR    = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/PACE/LevelB/surface/SLEAVE/NOBM/
DATAFILE  = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/PACE/LevelA/water_leave/HyperLwn.R2014.nc4
# WATER LEAVING RADIANCE SAMPLING
