#
# Resource file for geo_sampler
#


SRFLER354: /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/PACE/LevelA/SurfLER/OMI_V158_SurfLER_Data.SRFLER354.ctl
SRFLER388: /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/PACE/LevelA/SurfLER/OMI_V158_SurfLER_Data.SRFLER388.ctl
