# MULTIANGLE POLARIMETER SIMULATION
    inDir        = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/POLAR_LIDAR/CALIPSO/LevelB/Y%year/M%month
    inFile       = calipso-g5nr.lb2.%col.%nymd_%hourz.nc4

    lerFile      = calipso-g5nr.lb2.omi_ler.%nymd_%hourz.nc4
    lerDir       = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/POLAR_LIDAR/CALIPSO/LevelB/surface/SurfLER/Y%year/M%month

    albedoType   = LAMBERTIAN

    outDir       = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/POLAR_LIDAR/CALIPSO/LevelC/Y%year/M%month
    outFile      = calipso-g5nr.vlidort.vector.%nymd_%hourz_%chdnm.nc4

    channel      = 388    
    rcFile       = Aod_EOS.rc
    VZA          = 3.66, 11., 18.33, 25.66, 33, 40.33, 47.66, 55.0
    HGT          = 705
    DO_VLIDORT   = YES
    DO_EXT       = NO
# MULTIANGLE POLARIMETER SIMULATION