#
# Resource file for geo_vlidort
#

INDIR:   /nobackup/GEMS
OUTDIR:  ./outputs
DATE: 20051231
TIME: 23
INSTNAME: gems
SURFMODEL: LER
SURFNAME: LER
SURF_VERSION: MCD43C
SURFDATE: 04
SURFBAND: exact
SURFBAND_I: 1
SURFBAND_C: 645 858 469 555 1240 1640 2130 
SURFBANDM: 2
SCALAR: false
CHANNELS: 354
CLDMAX: 0.01
ADDITIONAL_OUTPUT: false
VLIDORT: true
