#
# Resource file with variable list for GEOS-5 Collection <tavg3_3d_odt_Nv>.
#
# This RC file was automatically created on Sun Aug 7 20:46:23 EDT 2011 
# by script /discover/nobackup/projects/gmao/share/dasilva/bin/mk_coll_rc.csh
# based on GEOS-5 files found on
#    discover07:/portal/GMAO/yotc/e572_fp/das/Y2011/M07/D01
#
#------------------------------------------------------------------
__TITLE__: 3d,3-Hourly,Time-Averaged,Model-Level,Assimilation,Ozone Tendencies
PS: surface pressure;  Pa
DELP: pressure thickness;  Pa
DOXDTMST: tendency of odd oxygen due to moist processes;  kg kg-1 s-1
DOXDTTRB: tendency of odd oxygen due to turbulence;  kg kg-1 s-1
DOXDTCHM: tendency of odd oxygen mixing ratio due to chemistry;  mol mol-1 s-1
DOXDTDYN: tendency of ozone due to dynamics;  kg kg-1 s-1
DOXDTANA: total ozone analysis tendency in ppmv sec-1;  1e-6 s-1
