#
# Resource file with variable list for GEOS-5 Collection <tavg3_2d_aer_Nx>.
#
# This RC file was automatically created on Mon Jul 18 10:28:10 EDT 2011 
# by script /discover/nobackup/projects/gmao/share/dasilva/bin/mk_coll_rc.csh
# based on GEOS-5 files found on
#    discover05:/portal/GMAO/yotc/e572_fp/das/Y2011/M07/D01
#
#------------------------------------------------------------------
__TITLE__: 2d,3-Hourly,Time-Averaged,Single-Level,Analysis,Aerosol Diagnostics
BCSMASS: Black Carbon Surface Mass Concentration;  kg m-3
BCCMASS: Black Carbon Column Mass Density;  kg m-2
BCEXTTAU: Black Carbon Extinction AOT [550 nm];  1
BCSCATAU: Black Carbon Scattering AOT [550 nm];  1
BCANGSTR: Black Carbon Angstrom parameter [470-870 nm];  1
BCFLUXU: Black Carbon column u-wind mass flux;  kg m-1 s-1
BCFLUXV: Black Carbon column v-wind mass flux;  kg m-1 s-1
DUSMASS: Dust Surface Mass Concentration;  kg m-3
DUCMASS: Dust Column Mass Density;  kg m-2
DUEXTTAU: Dust Extinction AOT [550 nm];  1
DUSCATAU: Dust Scattering AOT [550 nm];  1
DUANGSTR: Dust Angstrom parameter [470-870 nm];  1
DUSMASS25: Dust Surface Mass Concentration - PM 2.5;  kg m-3
DUCMASS25: Dust Column Mass Density - PM 2.5;  kg m-2
DUEXTT25: Dust Extinction AOT [550 nm] - PM 2.5;  1
DUSCAT25: Dust Scattering AOT [550 nm] - PM 2.5;  1
DUFLUXU: Dust column u-wind mass flux;  kg m-1 s-1
DUFLUXV: Dust column v-wind mass flux;  kg m-1 s-1
SSSMASS: Sea Salt Surface Mass Concentration;  kg m-3
SSCMASS: Sea Salt Column Mass Density;  kg m-2
SSEXTTAU: Sea Salt Extinction AOT [550 nm];  1
SSSCATAU: Sea Salt Scattering AOT [550 nm];  1
SSANGSTR: Sea Salt Angstrom parameter [470-870 nm];  1
SSSMASS25: Sea Salt Surface Mass Concentration - PM 2.5;  kg m-3
SSCMASS25: Sea Salt Column Mass Density - PM 2.5;  kg m-2
SSEXTT25: Sea Salt Extinction AOT [550 nm] - PM 2.5;  1
SSSCAT25: Sea Salt Scattering AOT [550 nm] - PM 2.5;  1
SSFLUXU: Sea Salt column u-wind mass flux;  kg m-1 s-1
SSFLUXV: Sea Salt column v-wind mass flux;  kg m-1 s-1
SO2SMASS: SO2 Surface Mass Concentration;  kg m-3
SO2CMASS: SO2 Column Mass Density;  kg m-2
SO4SMASS: SO4 Surface Mass Concentration;  kg m-3
SO4CMASS: SO4 Column Mass Density;  kg m-2
DMSSMASS: DMS Surface Mass Concentration;  kg m-3
DMSCMASS: DMS Column Mass Density;  kg m-2
SUEXTTAU: SO4 Extinction AOT [550 nm];  1
SUSCATAU: SO4 Scattering AOT [550 nm];  1
SUANGSTR: SO4 Angstrom parameter [470-870 nm];  1
SUFLUXU: SO4 column u-wind mass flux;  kg m-1 s-1
SUFLUXV: SO4 column v-wind mass flux;  kg m-1 s-1
OCSMASS: Organic Carbon Surface Mass Concentration ENSEMBLE;  kg m-3
OCCMASS: Organic Carbon Column Mass Density ENSEMBLE;  kg m-2
OCEXTTAU: Organic Carbon Extinction AOT [550 nm] ENSEMBLE;  1
OCSCATAU: Organic Carbon Scattering AOT [550 nm] ENSEMBLE;  1
OCANGSTR: Organic Carbon Angstrom parameter [470-870 nm] ENSEMBLE;  1
OCFLUXU: Organic Carbon column u-wind mass flux ENSEMBLE;  kg m-1 s-1
OCFLUXV: Organic Carbon column v-wind mass flux ENSEMBLE;  kg m-1 s-1
TOTEXTTAU: Total Aerosol Extinction AOT [550 nm];  1
TOTSCATAU: Total Aerosol Scattering AOT [550 nm];  1
TOTANGSTR: Total Aerosol Angstrom parameter [470-870 nm];  1
