#
# Resource file with variable list for GEOS-5 Collection <tavg3_3d_mst_Ne>.
#
# This RC file was automatically created on Mon Jul 18 10:28:10 EDT 2011 
# by script /discover/nobackup/projects/gmao/share/dasilva/bin/mk_coll_rc.csh
# based on GEOS-5 files found on
#    discover05:/portal/GMAO/yotc/e572_fp/das/Y2011/M07/D01
#
#------------------------------------------------------------------
__TITLE__: 3d,3-Hourly,Time-Averaged,Model-Level Edge,Assimilation,Moist Processes Diagnostics
PLE: edge pressure;  Pa
CMFMC: cumulative mass flux;  kg m-2 s-1
PFLCU: 3D flux of liquid convective precipitation;  kg m-2 s-1
PFICU: 3D flux of ice convective precipitation;  kg m-2 s-1
PFLLSAN: 3D flux of liquid nonconvective precipitation;  kg m-2 s-1
PFILSAN: 3D flux of ice nonconvective precipitation;  kg m-2 s-1
