# LIDAR SAMPLING
INSTNAME = calipso
TLEFILE  = calipso
RCFILES  = aer_Nv.rc, chm_Nv.rc, met_Nv.rc, asm_Nx.rc
COLNAMES = aer, chm, met, asm 
OUTDIR   = /discover/nobackup/pcastell/POLAR_LIDAR/CALIPSO/LevelB
# LIDAR SAMPLING