# LIDAR SAMPLING
INSTNAME = calipso
TLEFILE  = calipso
RCFILES  = aer_Nv.rc
COLNAMES = aer_Nv 
OUTDIR   = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/POLAR_LIDAR/CALIPSO/LevelB
# LIDAR SAMPLING
