# LIDAR SAMPLING
INSTNAME = calipso
TLEFILE  = calipso
RCFILES  = myd13c2-discover.rc
COLNAMES = ndvi
OUTDIR   = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/POLAR_LIDAR/CALIPSO/LevelB/BPDF/NDVI/MYD13C2/006
# LIDAR SAMPLING
