# LAND COVER SAMPLING
INSTNAME  = calipso
INDIR     = /nobackup/3/pcastell/POLAR_LIDAR/CALIPSO/LevelB
OUTDIR    = /nobackup/3/pcastell/POLAR_LIDAR/CALIPSO/BPDF/LAND_COVER/MCD12C1/051
DATADIR   = /nobackup/3/pcastell/MODIS/MCD12C1/
# LAND COVER SAMPLING