# LIDAR SAMPLING
INSTNAME = ss450
TLEFILE  = tle/Sun_Synch_1330cross_Ascending_Generated_TLE.tle
RCFILES  = sampling/ndvi_myd13c2.rc
COLNAMES = ndvi
OUTDIR   = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/A-CCP/SS450/LevelB/surface/NDVI/MYD13C2/006
# LIDAR SAMPLING
