# LIDAR SAMPLING
INSTNAME = ss450
TLEFILE  = tle/Sun_Synch_1330cross_Ascending_Generated_TLE.tle
RCFILES  = sampling_M2R12K/chm_Nv.rc
COLNAMES = chm_Nv
OUTDIR   = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/A-CCP/SS450-M2R12K/LevelB
# LIDAR SAMPLING
