# LIDAR SAMPLING
INSTNAME = pace_420
TLEFILE  = pace_420/pace_420.tle
RCFILES  = omi_ler-discover.rc
COLNAMES = omi_ler
OUTDIR   = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/POLAR_LIDAR/PACE_420/LevelB/surface/SurfLER
# LIDAR SAMPLING
