# AERONET SIMULATION
    inDir        = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/AERONET/LevelB/Y%year/M%month
    inFile       = aeronet-g5nr.lb2.%col.%nymd_%hourz.nc4

    invDir       = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/AERONET/LevelB/invariant
    invFile      = aeronet-g5nr.lb2.%col.nc4

    lerFile      = aeronet-g5nr.lb2.omi_ler.%nymd_%hourz.nc4
    lerDir       = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/AERONET/LevelB/surface/SurfLER/Y%year/M%month

    albedoType   = LAMBERTIAN

    outDir       = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/AERONET/LevelC/Y%year/M%month
    outFile      = aeronet-g5nr.lc2.vlidort.vector.%nymd_%hourz_%chdnm.nc4

    channel      = 380
    rcFile       = Aod_EOS.rc
    DO_VLIDORT   = YES
    DO_EXT       = NO
# AERONET SIMULATION