# AERONET SIMULATION
    inDir        = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/AERONET/LevelB/Y%year/M%month
    inFile       = aeronet-g5nr.lb2.%col.%nymd_%hourz.nc4

    outDir       = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/AERONET/LevelC/Y%year/M%month
    outFileEXT   = aeronet-g5nr.lc2.%col.ext.%nymd_%hourz_%chdnm.nc4

    extcol       = aer_Nv
    channel      = 1064   
    rcFile       = Aod_EOS.rc
    DO_VLIDORT   = NO
    DO_EXT       = YES
# AERONET SIMULATION