# LIDAR SAMPLING
INSTNAME = gpm
TLEFILE  = tle/gpm.nodrag.tle
RCFILES  = ler_omi.rc
COLNAMES = ler
OUTDIR   = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/A-CCP/GPM/LevelB/surface/LER/OMI
# LIDAR SAMPLING
