#
# GrITAS Resource file.
#
#

# Vertical levels - Must decrease monotonically
# ---------------------------------------------
GrITAS*Vertical_Levels: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

# User Defined Grid List
# ----------------------
GrITAS*List::
#  kt    var name      kx's
   40    hirs2n14      14
   40    hirs3n16      16
   40    hirs3n17      17
   40    hirs3n18      18
::
