#
# GrITAS Resource file.
#
#

# Vertical levels - Must decrease monotonically
# ---------------------------------------------
GrITAS*Vertical_Levels: 1 2 3 4

# User Defined Grid List
# ----------------------
GrITAS*List::
#  kt    var name      kx's
   40    msu14        214
::
