#
# Resource file with variable list for GEOS-5 Collection <tavg3_3d_rad_Nv>.
#
# This RC file was automatically created on Sun Aug 7 20:46:23 EDT 2011 
# by script /discover/nobackup/projects/gmao/share/dasilva/bin/mk_coll_rc.csh
# based on GEOS-5 files found on
#    discover07:/portal/GMAO/yotc/e572_fp/das/Y2011/M07/D01
#
#------------------------------------------------------------------
__TITLE__: 3d,3-Hourly,Time-Averaged,Model-Level,Assimilation,Radiation Diagnostics
PS: surface pressure;  Pa
DELP: pressure thickness;  Pa
CLOUD: cloud fraction for radiation;  1
DTDTLWR: air temperature tendency due to longwave;  K s-1
DTDTLWRCLR: air temperature tendency due to longwave for clear skies;  K s-1
DTDTSWR: air temperature tendency due to shortwave;  K s-1
DTDTSWRCLR: air temperature tendency due to shortwave for clear skies;  K s-1
