#
# Resource file for Trajectory Sampler. Aerosol/carbon parameters.
#

* : http://opendap.nccs.nasa.gov:80/dods/GEOS-5/fp/0.25_deg/fcast/inst3_3d_aer_Nv.latest
* : http://opendap.nccs.nasa.gov:9090/dods/GEOS-5/fp/0.25_deg/fcast/tavg3_2d_aer_Nx.latest
* : http://opendap.nccs.nasa.gov:80/dods/GEOS-5/fp/0.25_deg/fcast/tavg3_2d_adg_Nx.latest
#
* : http://opendap.nccs.nasa.gov:80/dods/GEOS-5/fp/0.25_deg/fcast/inst3_3d_chm_Nv.latest
* : http://opendap.nccs.nasa.gov:80/dods/GEOS-5/fp/0.25_deg/fcast/tavg3_2d_chm_Nx.latest
