#
# Resource file for geo_vlidort
#

INDIR:   /nobackup/SENTINEL-4
OUTDIR:  ./outputs
DATE: 20051231
TIME: 17
INSTNAME: sentinel-4
SURFMODEL: RTLS
SURFNAME: MCD43C
SURF_VERSION: MCD43C
SURFDATE: 2005361
SURFBAND: interpolate
SURFBAND_I: 4
SURFBAND_C: 645 858 469 555 1240 1640 2130 
SURFBANDM: 7
SCALAR: true
CHANNELS: 550
CLDMAX: 0.01
ADDITIONAL_OUTPUT: false
VLIDORT: true
