# GEO_VLIDORT_LC2 processing

LC2_INSTNAME = tempo
LC2_VERSION  = 1.0
LC2_CHANNELS = 388
LC2_RUNMODE  = vector

## Surface info
# lambertian or MAIACRTLS
LC2_SURFACE  = lambertian
# exact or interpolate
LC2_INTERP   = exact
# if exact, then band number
LC2_I_BAND   = 2
LC2_SURF_VERSION = 1.0

## Array mode info
# None or an integer
LC2_NODEMAX = 10

## Domain decomposition
# None or layout code (nXnY)
LC2_LAYOUT = None

LC2_CLDMAX = 0.01
LC2_DIR   = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS
LC2_BINDIR   = /discover/nobackup/pcastell/workspace/GAAS/src/Components/geo_vlidort
LC2_RUNFILE = geo_vlidort_lc2.j

LC2_PROFILE = No
LC2_VERBOSE = Yes
LC2_ADDOUTPUT = No
