#
# Resource file for geo_vlidort
#

INDIR:   /nobackup/TEMPO
OUTDIR:  ./outputs
DATE: 20051231
TIME: 17
INSTNAME: tempo
SURFNAME: MAIACRTLS
SURFDATE: 2006008
SURFBAND: interpolate
SURFBAND_I: 4
SURFBAND_C: 645 858 469 555 1240 1640 2130 412
SURFBANDM: 8
SCALAR: true
CHANNELS: 470
CLDMAX: 0.01
ADDITIONAL_OUTPUT: true
VLIDORT: true
DO_2OS_CORRECTION: false
