INDIR: /nobackup/3/pcastell/TEMPO/CLD_DATA/
OUTDIR: .
DATE: 20051231
TIME: 18
INSTNAME: tempo
SURFNAME: LER
SURFMODEL: LER
SURFDATE: 12
SURFBAND: exact
SURFBAND_I: 2
SURFBANDM: 2
SCALAR: false
CHANNELS: 388
ADDITIONAL_OUTPUT: true
VERSION: 1.0
SURF_VERSION: 1.0
LAYOUT: 410
ICLDTABLE:ExtDataCloud/IceLegendreCoeffs.nc4
LCLDTABLE:ExtDataCloud/WaterLegendreCoeffs.nc4
IDXCLD:8