#
# Resource file for geo_vlidort
#

INDIR:   /nobackup/TEMPO
OUTDIR:  ./outputs
DATE: 20051231
TIME: 17
INSTNAME: tempo
SURFNAME: MAIACRTLS
SURFDATE: 2006008
SURFBAND: exact
SURFBAND_I: 4
SURFBAND_C: 645 858 469 555 1240 1640 2130 
SURFBANDM: 7
SCALAR: false
CHANNELS: 550
CLDMAX: 0.01
SZAMAX: 90.0