#
# Resource file for Trajectory Sampler. Aerosol/carbon parameters.
#

1) * : /home/adasilva/opendap/kaq/fcast/inst1_2d_hwl_Nx/inst1_2d_hwl_Nx.20160509_12
2) * : /home/adasilva/opendap/kaq/fcast/inst3_3d_aer_Np/inst3_3d_aer_Np.20160509_12
3) * : /home/adasilva/opendap/kaq/fcast/inst3_3d_ext_Np/inst3_3d_ext_Np.20160509_12
4) * : /home/adasilva/opendap/kaq/fcast/inst3_3d_chm_Np/inst3_3d_chm_Np.20160509_12
5) * : /home/adasilva/opendap/kaq/fcast/inst3_3d_tag_Np/inst3_3d_tag_Np.20160509_12



