#
# This resource files defines sites for the GEOS-5 ICARTT simulator.
#

GROUND-ALDINO:       lat=39.563301; lon=-76.203903; elevation=127.711 m; path=GROUND-ALDINO/DASILVA.ARLINDO
GROUND-BELTSVILLE:   lat=39.055302; lon=-76.878304; elevation=52.7304 m; path=GROUND-BELTSVILLE/DASILVA.ARLINDO
GROUND-EDGEWOOD:     lat=39.41;     lon=-76.2967;   elevation= 8.5344 m; path=GROUND-EDGEWOOD/DASILVA.ARLINDO
GROUND-ESSEX:        lat=39.310799; lon=-76.474403; elevation=12.8016 m; path=GROUND-ESSEX/DASILVA.ARLINDO
GROUND-FAIRHILL:     lat=39.701099; lon=-75.860001; elevation=117.652 m; path=GROUND-FAIRHILL/DASILVA.ARLINDO
GROUND-GSFC:         lat= 38.9925;  lon= -76.8398;  elevation= 87.0 m;   path=GROUND-GSFC/DASILVA.ARLINDO
GROUND-OLDTOWN:      lat=39.2981;   lon=-76.604698; elevation=11.8872 m; path=GROUND-OLDTOWN/DASILVA.ARLINDO
GROUND-PADONIA:      lat=39.462002; lon=-76.631599; elevation=119.481 m; path=GROUND-PADONIA/DASILVA.ARLINDO
GROUND-SERC:         lat= 38.8833;  lon= -76.5;     elevation= 10.0 m;   path=GROUND-SERC/DASILVA.ARLINDO
GROUND-UMBC:         lat=39.25444;  lon=-76.70945;  elevation= 62 m ; path=GROUND-UMBC/DASILVA.ARLINDO
##GROUND-UMD:
##GROUND-USNA:

