# LAND COVER SAMPLING
INSTNAME  = aeronet
INDIR     = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/AERONET/LevelB
OUTDIR    = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/AERONET/LevelB/surface/BPDF/LAND_COVER/MCD12C1/051
DATADIR   = /discover/nobackup/pcastell/MODIS/MCD12C1/
# LAND COVER SAMPLING