# STN SAMPLING
INSTNAME = aeronet
STNFILE  = aeronet_master_locations.txt
RCFILES  = omi_ler-discover.rc
COLNAMES = omi_ler
OUTDIR   = /discover/nobackup/projects/gmao/osse2/pub/c1440_NR/OBS/AERONET/LevelB/surface/SurfLER
# STN SAMPLING
